// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
$yellow: #ffed4a;
// $green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//DeliveBoo Colors
$text_dark: #2e3333;
$text_light: #ffffff;

$azure: #00ccbc;
$azure_dark: #00a396;

$green: #d0eb99;
$pink: #ffeae4;
$violet: #e2004f;
$grey: #bac3c3;
$grey_light: #f9fafa;
$orange: #ff8100;
$red: #ff483b;

$footer_black: #2e3333;
$footer_grey: #434848;
