@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

@mixin scrollbars(
    $size,
    $foreground-color,
    $radius: 15px,
    $background-color: transparent ){
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: $radius;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: $radius;
    }


    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
}

.my_btn.btn-primary {
    background-color: $azure;
    border-color: $azure;
}