@import "~bootstrap/scss/bootstrap";

// Variables
@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 80px;
}


.my_btn.btn-primary{
    background-color: $azure;
    border-color: $azure;
}