.my_login .card-header,
.my_register .card-header {
    color: white;
    background-color: $azure;
}

.my_btn.btn-primary,
.my_login .btn-primary,
.my_register .btn-primary{
    background-color: $azure;
    border-color: $azure;
}
