.my_nav .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: $azure;
}

.my_nav .dropdown-item:hover, .dropdown-item:focus {
  color: $azure;
  text-decoration: none;
}

.my_nav .dropdown-item:active {
  background-color: $azure;
  color: white;
}