main {
    color: $text_dark;
    font-size: $font-size-base;

    section.dashboard {
        .dashboard_card {
            border-radius: 10px;
            text-align: center;

            &:first-child {
                background-color: $azure;
                &:hover {
                    background-color: darken($azure, 5%);
                }
            }
            &:last-child {
                background-color: $green;
                &:hover {
                    background-color: darken($green, 5%);
                }
            }

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    section.restaurant {
        h1 {
            color: $purple;
        }
        .card-header,
        .card-footer {
            background-color: $green;
            span {
                color: $purple;
            }
        }
    }

    section.dishes {
        .badge.my_badge {
            color: $purple;
            background-color: $grey;
        }

        .dish_row{
            border-radius: 5px;
            box-shadow: 0px 0px 5px $azure_dark;
        }
    }
}
