main {
    color: $text_dark;
    font-size: $font-size-base;

    section.dashboard {
        .dashboard_card {
            border-radius: 10px;
            text-align: center;
            background-color: red;

            &:first-child {
                background-color: $azure;
                &:hover {
                    background-color: darken($azure, 5%);
                }
            }
            &:last-child {
                background-color: $green;
                &:hover {
                    background-color: darken($green, 5%);
                }
            }

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    section.restaurant{
        h1{
            color: $orange;
        }
    }
}
