main {
    color: $text_dark;
    font-size: $font-size-base;

    section.dashboard {
        .dashboard_card {
            border-radius: 10px;
            text-align: center;

            &:first-child {
                background-color: $azure;
                &:hover {
                    background-color: darken($azure, 5%);
                }
            }
            &:last-child {
                background-color: $green;
                &:hover {
                    background-color: darken($green, 5%);
                }
            }

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    section.restaurant {
        .card-header,
        .card-footer {
            background-color: $green;
            span {
                color: $purple;
            }
        }
    }

    section.dishes {
        .badge.my_badge {
            color: $purple;
            background-color: $grey;
        }

        .dish_row {
            border-radius: 5px;
            box-shadow: 0px 0px 5px $azure_dark;

            &.disabled_dish {
                background-color: $grey;
                box-shadow: 0px 0px 5px $grey;

                img{
                    opacity: 1;
                }

                .badge.my_badge {
                    color: $grey;
                    background-color: $purple;
                }
            }
        }
    }

    .container-restaurant {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0px 0px 2px 0px;
        padding: 20px;
        img {
            width: 150px;
        }
        .title {
            h2 {
                width: 100%;
                .badge-absolute {
                position: absolute;
                font-size: 0.5em;
                }
            } 
        }
        ul .list-group-item {
            position: relative;
            display: block;
            padding: 0.5rem 0;
            background-color: #fff;
            p {
                margin-bottom: 0.5rem;
            }
        }
        .container-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            a,
            form {
                margin: 0.5em;
            }
            .my_btn:hover {
                background-color: $azure_dark;
            }
        }
        .container-voto {
            text-align: center;
        }
    }
}
